<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" providerName="System.Data.SqlClient" connectionString="server=127.0.0.1;database=MyDatabase;uid=Username_Here;pwd=Password_Here" />
  </connectionStrings>
  <appSettings>
    <add key="outputPath" value="c:\_backup\" />
  </appSettings>
</configuration>
