<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" providerName="System.Data.SqlClient" connectionString="server=192.168.6.85;database=AMS;uid=BTRpublic;pwd=bhu890" />
  </connectionStrings>
  <appSettings>
    <add key="outputPath" value="c:\_backup\" />
  </appSettings>
</configuration>
